pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: .875rem;
  line-height: 2;

}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
}

img{
    margin: 0.7rem auto;
    box-shadow: 0 0 10px #555;
}

img[title=img-size-100-200]{
  width: 200px;
  height: 100px;
}